.s1 {
    background-color: #eee;
    .rel{
        flex-direction: column;
        gap: 50px;
        ul.content {
            display: flex;
            gap:40px;

            li{
                padding:30px 40px;
                font-size: 20px;
                color: #fff;
                background-color: rebeccapurple;
            }

        }
    }

}